.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-image: linear-gradient(to bottom right in oklab, oklch(97% .014 254.604) 0%, oklch(98.5% .002 247.839) 100%);
    color: black;
    padding: 64px;
}

.boardSection {
    min-width: 1280px;
    display: flex;
    align-items: center;
}

.boardBar {
    width: 4px;
    height: 100%;
}

.boardBar:hover {
    background-color: var(--);
}

.board {
    min-width: 270px;
    background: var(--board-color);
    border-radius: 4px;
    padding: 16px;
    margin-top: 16px;
    margin-right: 8px;
    height: -webkit-fill-available;
}

.addTaskButtonSection {
    margin-top: 8px;
}

.addTaskButton {
    visibility: hidden;
    gap: 8px;
    padding: 8px 16px;
    display: flex;
    border-radius: 8px;
}

.board:hover .addTaskButton {
    visibility: visible;
    cursor: pointer;
}

.addTaskButton:hover {
    background-color: var(--deep-board-color);
}

.addText {
    font-size: 18px;
    font-weight: 600;
}

.input {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    border: solid 1px gray;
    width: -webkit-fill-available;
}