.deleteModal {
    display: none;
    position: absolute;
    background: white;
    z-index: 100;
    /* transform: translate(-16x, 36px); */
    flex-direction: column;
    border-radius: 8px;
    padding-block: 8px;
    border: solid 1px rgb(196, 178, 195);
    box-shadow: 2px 2px 8px var(--box-shadow-color);
    right: 0px;
    bottom: -68px;
}

.show {
    display: flex;
}

.button {
    padding: 8px 16px;
    display: flex;
    user-select: none;
    color: var(--delete-button-color);
    cursor: pointer;
}

.button:hover {
    background: var(--button-modal-hover-color);
}
