.modalBackground {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    z-index: 30;
}

.show {
    display: flex;
}

.alert {
    background-color: white;
    padding: 16px 24px;
    color: black;
    font-size: 18px;
    border-radius: 16px;
    min-width: 240px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--primary-color);
}

.body {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--deep-primary-color);
}

.buttonGroup {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.button {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 16px;
    border: solid 2px var(--button-border-color);
    border-radius: 8px;
    padding: 16px 24px;
    cursor: pointer;
    color: var(--button-text-color);
}

.button:hover {
    background-color: var(--button-hover-color);
}

.cancel {
    border: solid 2px var(--cancel-button-color);
    color: var(--cancel-button-color);
}