.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right in oklab, oklch(97% .014 254.604) 0%, oklch(98.5% .002 247.839) 100%);
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
}

.error {
    font-size: 48px;
    color: black;
    font-weight: 900;
}