.header.show {
    transform: translateY(0);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transition: all;
    transition-duration: .3s;
    background: #fffffff2;
    border-bottom: 1px;
    border-color: oklch(96.7% .003 264.542);
    backdrop-filter: blur(8px);
    transform: translateY(-64px);
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.headerContainer {
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 16px;
}

@media screen and (min-width: 1024px) {
    .headerContainer {
        padding-inline: 32px;
    }
}

@media screen and (min-width: 640px) {
    .headerContainer {
        padding-inline: 24px;
    }
}

.headerContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.headerLeftButton {
    display: flex;
    align-items: center;
}

.headerLeftButton:hover {
    transition: transform 100ms ease;
    transform: scale(1.02);
}

.logoImg {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    margin-right: 12px;
    transition-duration: 300;
}

.logoImg:hover {
    transition: transform 100ms ease;
    transform: rotate(5deg);
}

.logoText {
    font-size: 18px;
    font-weight: bold;
    color: oklch(21% .034 264.665);
    transition: color;
    transition-duration: .2s;
}

.logoText:hover {
    color: oklch(54.6% .245 262.881);
}

.rightButton {
    padding-inline: 16px;
    display: flex;
    align-items: center;
    padding-block: 10px;
    border-radius: 16px;
    background-color: color-mix(in oklab, var(--color-gray-50)80%, transparent);
    transition: all;
    transition-duration: .2s;
    border: solid 1px color-mix(in oklab, var(--color-gray-200)50%, transparent);
    backdrop-filter: blur(8px);
    cursor: pointer;
}

.rightButton:hover {
    transform: translateY(-1px) scale(1.02);
    background-color: color-mix(in oklab, var(--color-gray-100)80%, transparent);
}

.group:hover > .buttonText {
    color: var(--color-gray-900);
}

.buttonIcon {
    margin-right: 8px;
}

.buttonIcon:hover {
    transform: scale(1.1);
}

.buttonText {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-gray-700);
    transition-property: color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    margin-right: 8px;
}

.group:hover > .buttonSvg {
    color: var(--color-gray-600);
}

.buttonSvg {
    width: 12px;
    height: 12px;
    color: var(--color-gray-400);
    transition-property: color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
}
