.section {
    width: 100%;
    background-color: white;
    padding-block: calc(var(--spacing) * 20);
    overflow: hidden;
}

.pageBody {
    max-width: var(--container-7xl);
    margin-inline: auto;
    padding-inline: calc(var(--spacing) * 4);

}

.titleSection {
    text-align: center;
    margin-bottom: calc(var(--spacing) * 16);
}

.title {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: 900;
    color: var(--color-gray-900);
    margin-bottom: calc(var(--spacing) * 4);
}

.desc {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    color: var(--color-gray-600);
    max-width: var(--conatiner-2xl);
    margin-inline: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: calc(var(--spacing) * 8);
    margin-bottom: calc(var(--spacing) * 16);
}

.card {
    border-radius: var(--radius-3xl);
    padding: calc(var(--spacing) * 8);
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    transition: all .3s var(--anime-normal);
    border: solid 1px color-mix(in oklab, var(--color-purple-200) 50%, transparent);
}

.card:hover {
    box-shadow: 0 25px 50px -12px #0000001a;
}

.card1 {
    background-image: linear-gradient(to bottom right in oklab, var(--color-blue-50) 0%, var(--color-blue-100) 100%);
}

.card2 {
    background-image: linear-gradient(to bottom right in oklab, var(--color-green-50) 0%, var(--color-green-100) 100%);
}

.card3 {
    background-image: linear-gradient(to bottom right in oklab, var(--color-purple-50) 0%, var(--color-purple-100) 100%);
}

.icon {
    width: calc(var(--spacing) * 16);
    height: calc(var(--spacing) * 16);
    border-radius: var(--radius-2xl);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--spacing) * 6);
    margin-inline: auto;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.card1 > .icon {
    background-image: linear-gradient(to bottom right in oklab, var(--color-blue-500) 0%, var(--color-blue-600) 100%);
}

.card2 > .icon {
    background-image: linear-gradient(to bottom right in oklab, var(--color-green-500) 0%, var(--color-green-600) 100%);
}

.card3 > .icon {
    background-image: linear-gradient(to bottom right in oklab, var(--color-purple-500) 0%, var(--color-purple-600) 100%);
}

.svg {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
    color: white;
}

.cardTitle {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: bold;
    color: var(--color-gray-900);
    margin-bottom: calc(var(--spacing) * 3);
    text-align: center;
}

.cardDesc {
    color: var(--color-gray-600);
    text-align: center;
    line-height: 1.625;
}

.previewSection {
    background: white;
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing) * 8);
    box-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -4px #0000001a;
    max-width: var(--container-md);
    margin-inline: auto;
}
 
.preview {
    width: calc(var(--spacing) * 64);
    height: calc(var(--spacing) * 40);
    background-image: linear-gradient(to bottom right in oklab, var(--color-blue-400), var(--color-purple-500));
    border-radius: var(--radius-lg);
    margin-inline: auto;
    margin-bottom: calc(var(--spacing) * 4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.previewTitle {
    color: white;
    font-weight: 600;
}

.preivewDesc {
    color: var(--color-gray-600);
    text-align: center;
}

@media screen and (min-width: 40rem) /* sm */ {
    .pageBody {
        padding-inline: calc(var(--spacing) * 6);
    }
}

@media screen and (min-width: 48rem) /* md */{
    .title {
        font-size: var(--text-4xl);
        line-height: var(--text-4xl--line-height);
    }
    .grid {
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}

@media screen and (min-width: 64rem) /* lg */ {
    .pageBody {
        padding-inline: calc(var(--spacing) * 8);
    }
}